<%- include('partials/header') %>
<div class="wrapper">
    <div class="row">
        <div class="container">
            <header class="main-header">
                <figure class="main-header__img">
                    <img src="/static/img/turkey.png" alt="Turkey">
                </figure>
                <section class="main-header__section">
                    <% if (user) { %>
                        <h1><%= user.email %>, </h1>
                        <h2>We have the perfect Turkey for you</h2>
                        <a href="/turkeys">
                            <button>Browse Now</button></a>
                    <% } else { %>
                        <h1>Return to Tradition</h1>
                    <h2>Order your Organic, Pasture Raised Turkey Today</h2>
                    <a href="/signup">
                        <button>Sign Up</button></a>
                    <% } %>
                    
                </section>
            </header>
        </div>
    </div>
</div>

<%- include('partials/footer') %>


    
