<%- include('partials/header') %>
<div class="wrapper">
    <div class="row">
        <div class="container">
            <header class="main-header">
                <!-- <figure class="main-header__img">
                    <img src="/static/img/turkey.png" alt="Turkey">
                </figure> -->
                <section class="main-header__section">
                    <h1>Our Products</h1>
                </section>
            </header>
        </div>
    </div>
    <div class="row">
        <div class="container">
            <main class="main products">

            </main>
        </div>
    </div>
</div>

<%- include('partials/footer') %>


    
