/*****************
**General Layout**
******************/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body {
scroll-behavior: smooth;
width: 100%;
}

.main.products.single-product {
    grid-template-columns: 1fr;
}

.row,
.container {
    display: block;
    width: 100%;
}

.row > .container {
    margin: auto;
    max-width:  1366px;
}
.row > .container.single-product {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



/*************
**Navigation**
**************/

a,
a:visited {
    color: #6d2c23;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5;
    padding: 1em 1.5em;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}

a:hover,
a:active {
    color: #fc709b;
    font-weight: 700;
}

a:focus {
    text-decoration: underline;
}

.main-nav {
    padding-top: 2em;
}

.main-nav ul {
display: flex;
justify-content: end;
list-style-type: none;
padding-right: 2em;
}

.main-nav ul li {
    margin: 0 1em;
}

.main-nav ul li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 1.5;
    padding: 1em 1.5em;
}


/****************
**Header Styles**
*****************/

.main-header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
}

.main-header__img,
.main-header__section {
    margin: 0 3em;
    padding: 1em;
}

.main-header__section h1,
.main-header__section h2 {
    margin: 0 auto 1em;
}

.main-header__section h1 {
    color: #6d2c23;
    font-size: 3em;
}

.main-header__section h2 {
    color: #7f392c;
    font-size: 1.25em;
}

.main-header__section.single-product h1,
.main-header__section.single-product h2 {
    text-align: center;
}

.signup h1,
.signup h2 {
    margin: .66rem auto;
    padding: .25rem;
}

.main-header__section a button {
    background: #e6e6e6;
    border: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75em;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 1em auto;
    min-width: 175px;
    padding: 1em 1.5em;
    transition: all 250ms ease-in-out;
}

.main-header__section a button:hover {
    background: #a1412b;
    color: #fff;
}

.main-header__section a button:focus {
    outline: 1px dotted #a1412b;
}


/***************
** Form Styles**
****************/
.form-control {
    display: block;
    margin-bottom: 1em;
}

.form-control label,
.form-control input {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.15em;
    font-weight: 500;
    line-height: 1.5;
    min-width: 100px;
}

.form-control button {
    background: #e6e6e6;
    border: none;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: .75em;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 1em auto;
    min-width: 175px;
    padding: 1em 1.5em;
    transition: all 250ms ease-in-out;
}

.form-control button:hover {
    background: #a1412b;
    color: #fff;
}

.form-control button:focus {
    outline: 1px dotted #a1412b;
}

/******************
** Product Styles**
*******************/

.products {
    align-items: center;
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, minmax(299px, 2fr));
    justify-content: center;
    padding: 1em 1.5em;
    text-align: center;
}

.products ul {
    list-style-type: none;
    padding-left: 1rem;
    text-align: left;
}

.products ul + button {
    background: #e6e6e6;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 7px -3px rgba(0, 0 , 0.25);
    cursor: pointer;
    display: inline-block;
    font-size: 1.12rem;
    font-weight: 400;
    margin: 1rem auto;
    padding: .5rem 1rem;
    opacity: 1;
    overflow: hidden;
    position: relative;
    text-align: center;
    transition: all 250ms linear;
    -webkit-transition: all 250ms linear;
}

.products ul + button:hover {
    color: #fff;
}
.products ul + button:focus {
    color: #fff;
    outline: 2px solid #af8c87;
}

.products ul + button::after {
    content: 'Add To Cart';
    background: #000;
    color: #fff;
    display: inline-block;
    left: 0;
    margin: 0rem auto;
    opacity: 0;
    padding: .5rem 1rem;
    position: absolute;
    top: 0;
    transform: translateX(105%) skewX(45deg);
    transition: all 250ms linear;
    height: 100%;
    width: 100%;
}


.products ul + button:hover::after,
.products ul + button:focus::after {
    opacity: .75;
    transform: translateX(0);
}



.product-card {
    box-shadow: 2px 2px 7px 0px rgba(0,0,0,0.33);
    padding: .5rem;
}
.product-card img {
    cursor: pointer;
    opacity: .75;
    position: relative;
    transition: opacity 250ms linear;
}

.product-card.tooltip {
    background: #000;
    color: #fff;
    content: 'Click To View More';
    display: inline;
    height: 25px;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;

}

.product-card img:hover {
    opacity: 1;
}


/*************
**Footer******
**************/
.main-footer {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-bottom: 1.5em;
}

.main-footer p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    font-weight: 600;
    letter-spacing: 1.25px;
    line-height: 1.5;
    margin: 0 .25em;
}