<div class="row">
    <div class="container">
        <footer class="main-footer">
            <p>Turkey Tracker App &copy; <span id="year"></span></p>
        </footer>
    </div>
</div>

<script>
    const year = new Date().getFullYear();
    document.getElementById('year').textContent = year;
</script>
</body>
</html>