<div class="row">
    <div class="container">
        <footer class="main-footer">
            <p>Turkey Tracker App &copy; <span id="year"></span></p>
        </footer>
    </div>
</div>
<% if (path === '/login'  || path === '/signup') { %>
    <script src="/static/js/validateUser.js"></script>
<% } %>

<% if (path === '/products/view-products') { %>
    <script src="/static/js/getProducts.js" async></script>
    <script src="/static/js/createCart.js" async></script>
<% } %>
<script>
    const year = new Date().getFullYear();
    document.getElementById('year').textContent = year;
</script>
</body>
</html>